.search-filter-container {
  width: 100%;
  .section-container {
    background: #f4f4f4;
    .section-col {
      margin: 0 2rem !important;
    }
  }
}
.bg-white {
  background-color: #ffffff !important;
}

.mx-2 {
  margin: 0 2rem !important;
}

.my-2 {
  margin: 2rem 0 !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.fs-2 {
  font-size: 2rem;
}
